body {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: #4E4E4E;
}

#size {
    margin: 0px 40px 0px 40px;
}

#top {
    background-color: #FFE16F;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
    margin: 0px 0px 0px 0px;
    font-size: 30px;
    color: #4E4E4E;
}



/* login.html */
#login {
    border: 50px solid #FFE16F;
    margin: 0px 0px 0px 0px;
    background-color: #FCF8EA;
}


#logo {
    text-align: center;
    margin: 350px 0px 0px 0px;
}


#logo_img {
    width: 50%;
}


.container {
    text-align: center;
    margin: 200px 0px 0px 0px;
}


#id {
    width: 50%;
    height: 80px;
    font-size: 30px;
    color: black;
    border: 1px solid black;
}


#pw {
    width: 50%;
    height: 80px;
    font-size: 30px;
    color: black;
    margin: 30px 0px 0px 0px;
    border: 1px solid black;
}


.checkcontainer {
    font-size: 40px;
    margin: 50px 0px 0px 0px;
    text-align: center;
}


.choice {
    width: 50%;
}


#student {
    width: 30px;
    height: 30px;
}


.radio {
    width: 30px;
    height: 30px;
}


#admin {
    width: 30px;
    height: 30px;
}


.login_btn {
    text-align: center;
}


#login_btn {
    width: 50%;
    height: 80px;
    font-size: 30px;
    color: black;
    background-color: #FFE16F;
    border: none;
    margin: 200px 0px 200px 0px;
}



/* my_seat.html */
#my_seat {
    background-color: #FFE16F;
    margin: 0px 0px 0px 0px;
}


#my_seat_text {
    font-size: 30px;
    color: #4E4E4E;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
}


#re_info {
    background-image: url(icon/back.png);
    background-size: cover;
    margin: 10px 10px 10px 10px;
}


#re_info_text {
    font-size: 45px;
    margin-top: 0px;
    margin-left: 5%;
    padding-top: 50px;
    color: #4E4E4E;
}


#room {
    margin: 40px 0px 0px 0px;
    padding-left: 5%;
    font-size: 30px;
    color: #4E4E4E;
}


#room_detail {
    margin-top: 0px;
    margin-left: 10%;
    font-size: 50px;
    color: #4E4E4E;
}


#room_line {
    margin: 10px 30px 30px 30px;
    border: solid 1px #A5A9A5;
}


.table {
    width: 100%;
    text-align: center;
    color: #4E4E4E;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
    background-color: rgba( 255, 255, 255, 0.1 );
}


#info_da {
    width: 50%;
    font-size: 50px;
    padding: 0px 0px 0px 0px;
}


#info_bl {
    height: 55px;
}


#btn_can {
    text-align: center;
}


#btn_cancel {
    width: 90%;
    height: 50px;
    font-size: 25px;
    border: 2px solid white;
    background-color: #FFE16F;
    color: white;
    margin-bottom: 10px;
}


#re_list{
    background-color: #A5A9A5;
    color: #4E4E4E;
    font-size: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}


#re_list_title{
    color: #4E4E4E;
    font-size: 30px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
}


#re_line{
    border: solid 3px #FFE16F;
}



/* menu.html */
#my_info {
    margin: 0px 0px 0px 0px;
    background-color: #FFE16F;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.my_info_detail {
    width: 50%;
    text-align: center;
    
}

#my_info_text {
    text-align: left;
    font-size: 40px;
    color:#4e4e4e;
    padding-left: 50px;
}

#my_info_qr {
    width: 50%;
    text-align: center;
}

#menu {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color:#4e4e4e;
    margin: 30px 0px 30px 0px;
}

.menu_line_ribo {
    border-right: 3px solid #A5A9A5;
    border-bottom: 3px solid #A5A9A5;
}

.menu_line_bo {
    border-bottom: 3px solid #A5A9A5;
}

.menu_line_ri {
    border-right: 3px solid #A5A9A5;
}

#menu_detail {
    width: 50%;
    padding: 70px 0px 70px 0px;
}

#icon {
    font-size: 50%;
}



/* room_ilban.html */
#ge_room {
    width: 100%;
    text-align: center;
    color:#4e4e4e;
    font-size: 50px;
    margin: 20px 0px 100px 0px;
    border-collapse: collapse;
    cursor:pointer
}

.ge_room_line {
    border-bottom: 3px solid #A5A9A5;
    
}

#ge_room_detail {
    width: 30%;
    padding: 50px 0px 50px 0px;
}


#ge_posi_seat {
    float: left;
    width: 50%;
    color: #FFE16F;
}

#ge_total_seat {
    float: left;
    widows: 50%;
    text-align: right;
    font-size: 30px;
    padding-top: 20px;
}

#ge_icon {
    text-align: right;
    padding-right: 20px;
}



/* room_group.html */
#gr_room {
    width: 100%;
    text-align: center;
    color:#4e4e4e;
    font-size: 50px;
    margin: 20px 0px 100px 0px;
    border-collapse: collapse;
    cursor:pointer
}

.gr_room_line {
    border-bottom: 3px solid #A5A9A5;
    
}

#gr_room_detail {
    width: 40%;
    padding: 50px 0px 50px 0px;
}

#gr_posi_seat {
    color: #FFE16F;
}

#gr_imposi_seat {
    color: #A4A9A5;
}

#gr_icon {
    text-align: right;
    padding-right: 20px;
}




/* Admin Page */
#ad_icon {
    width: 20%;
    text-align: left;
}

#ad_text {
    font-size: 50px;
    text-align: center;
}

.ad_line {
    width: 100%;
    border-bottom: 3px solid #A5A9A5;
}

#ad_detail {
    width: 50%;
    padding: 50px 0px 50px 0px;
}

#ad_syl {
    padding-right: 15%;
}



/* admin_meau.html */
#admin_info {
    color: #4E4E4E;
    font-size: 30px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 2%;
}

#admin_title_line {
    border: solid 10px #FFE16F;
}

#admin_home {
    width: 100%;
    text-align: center;
    color:#4e4e4e;
    font-size: 50px;
    margin: 20px 0px 100px 0px;
    border-collapse: collapse;
    cursor:pointer
}



/* admin_room_general.html */
#admin_title {
    font-size: 30px;
    color: #4E4E4E;
    padding-top: 2%;
    padding-left: 5%;
    padding-bottom: 2%;
}

.ad_icon {
    text-align: center;
}

#ad_syl {
    text-align: right;
    margin-right: 3%;
}



/* admin_history.html, time_choice.html */
#admin_history {
    width: 100%;
    text-align: center;
    color:#4e4e4e;
    font-size: 40px;
    margin: 20px 0px 100px 0px;
    border-collapse: collapse;
    table-layout:fixed
}

#his_detail {
    width: 50%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#his_text {
    font-size: 30px;
}

#his_text_td {
    font-size: 20px;
}



